.recipePage h2{
  font-family: 'Arima', cursive;
  color: #878787;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-align: center;
}
.recipePage h3{
  font-family: 'Arima', cursive;
  color: #878787;
  font-size: 1.8rem;
}
.recipePage {
  background-color: #F0F7FF;  
}
.recipe-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  border-radius: 2rem;
  border: 1rem solid #fff;
  border-color: #fff;
}
.back-button{
  width: 10%;
  margin-right: auto;
  border-color: #408EBA;
}
.serving-image{
  width: 15%;
}
.boxes {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 3rem;
  justify-content: space-around;
}
.box p, .box li {
  font-size: 1.6rem;
}
.box{
  border: 0.1rem solid #fff;
  border-radius: 1rem;
  flex: 1;
  margin-right: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.button-container{
  width: 90%;
  margin: 0 auto 1rem;
}
.box:last-of-type{
  margin-right: 0;
}
.recipe-details{
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 5%;
  padding: 5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 2rem;
  font-size: 1.6rem;
}
.ingridients{
  width: 100%;
}
.ingridients-list{
  list-style: circle;
}

@media (max-width: 1023px) {
    .back-button{
        width: 20%;
       }
    .recipe-container{
        width: 80%;
        margin: 0 auto;
        border-radius: 2rem;
        border: 1rem solid #fff;
        border-color: #fff;
    }
    .boxes {
        width: 90%;
        margin: 2rem auto 0;
    }
    .box{
        margin-right: 1.2rem;
        padding: 1rem;
    }

}
@media (max-width: 767px) {
    .back-button{
        width: 30%;
        margin-bottom: 1rem;
       }
    .boxes {
        width: 80%;
        flex-direction: column;
        margin: 1rem auto;
     }
     .box{
        margin-top: 1.2rem;
        padding: 1rem;
    }
    .recipe-details{
        flex-direction: column;
    }
    .ingridients{
        margin: 2rem auto;
    }
    }