.main-categories {
    display: flex;
    gap: 5%;
    
}
.btnWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.btnMore{
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: #F0F7FF;
  color: #408EBA;
}