.categories-grid {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(4, auto);
    gap: 3rem;
}
.time-description{
    color: #878787;
}
@media (max-width: 1024px) {
    .categories-grid {
        grid-template-columns: repeat(2, 45%);
    }
  }
  @media (max-width: 767px) {
    .categories-grid {
        grid-template-columns: repeat(1, 95%);
    }
  }
  