@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container{
    width: 98%;
    margin: 1rem auto;
    border-radius: 1rem;
    background-color: #F0F7FF;
    color: #404040;
    font-family: 'Roboto', sans-serif;
}



